body {
    font-family: 'Roboto', sans-serif;
    background: #1d3a3a;
  
  }
  
  h1{
    background: #5ea57c;
    color: rgb(233, 223, 223);
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
  
  li {
    height: 40px;
    line-height: 40px;
    color: rgb(247, 241, 241);
 
  }
  
  li:nth-child(2n) {
    background: #918b8b;
    margin-left: -10px;
    padding-left: 10px;
    
  }
  
  /* li:hover span {
    width: 40px;
    opacity: 1.0;
  } */
  
  /* span {
    background: rgb(230, 68, 32);
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
  } */
  
  input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
  
  input:focus{
    background: rgb(206, 203, 203);
    outline: none;
    border: 3px solid #2980b9;
  }
  
  #container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    margin: 100px auto;
    width: 360px;
    background: #f7f7f7;
  }
  
  .completed {
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .fa-plus {
    float: right;
  }
  
  .fa{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
  }
  
  
  